@import url("http://fonts.googleapis.com/css?family=Lato");
.backgroundBody .backgroundOverlay {
  opacity: 0; }

.backgroundOverlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: black;
  opacity: 1;
  transition: opacity 5s linear; }

body {
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-position: center; }
  body .container {
    width: 95%;
    min-height: 85vh;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center; }
    body .container button {
      border: 2px solid white;
      color: white;
      background: transparent;
      padding: 5px 10px;
      border-radius: 10px;
      font-size: 20px;
      display: block;
      margin: auto; }
      body .container button:hover {
        text-decoration: underline; }
    body .container p {
      font-size: 20px;
      margin: 0;
      text-align: center;
      padding: 10px 10px; }
      body .container p span {
        color: white; }
        body .container p span .in, body .container p span .stock, body .container p span .date {
          text-align: center;
          border: none;
          border-bottom: 1px solid white;
          color: white;
          background: none;
          padding: 5px; }
        body .container p span .ifOnly {
          min-width: 50px !important; }
        body .container p span input.in {
          max-width: 33%; }
        body .container p span input.date {
          max-width: 75%; }
        body .container p span select.stock {
          -webkit-appearance: none;
          width: 95%; }

@media screen and (min-width: 768px) {
  body .container {
    width: 90%;
    min-height: 90vh; }
    body .container button {
      border: 4px solid white;
      border-radius: 20px;
      padding: 10px 20px;
      font-size: 35px; }
    body .container p {
      font-size: 35px;
      padding: 20px 20px; }
      body .container p span .easy-autocomplete {
        display: inline; }
        body .container p span .easy-autocomplete input {
          max-width: 85% !important;
          min-width: 175px; }
      body .container p span .in, body .container p span .stock, body .container p span .date {
        padding: 10px; }
      body .container p span input.in {
        min-width: 150px !important;
        max-width: 40%; } }
@media screen and (min-width: 1280px) {
  body .container button {
    font-size: 45px; }
  body .container p {
    font-size: 45px;
    margin: 25px; }
    body .container p span input {
      max-width: 85% !important; }
      body .container p span input.in {
        min-width: 150px !important; }
      body .container p span input.stock {
        min-width: 210px !important; }
      body .container p span input.date {
        min-width: 325px !important; } }
.ui-datepicker {
  background: white;
  padding: 0;
  border: none;
  width: 339px !important; }

.ui-corner-all {
  border-radius: 0; }

.ui-widget-header {
  border: 0; }

.ui-datepicker-header {
  text-align: center;
  background: white;
  padding-bottom: 15px;
  font-weight: 300; }
  .ui-datepicker-header .ui-datepicker-prev,
  .ui-datepicker-header .ui-datepicker-next,
  .ui-datepicker-header .ui-datepicker-title {
    border: none;
    outline: none;
    margin: 5px; }

.ui-datepicker-prev {
  background-image: url("../img/back.svg");
  background-repeat: no-repeat;
  background-position: center; }

.ui-datepicker-next {
  background-image: url("../img/forward.svg");
  background-repeat: no-repeat;
  background-position: center; }

.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover {
  border: none;
  outline: none; }

.ui-datepicker-calendar .ui-state-default {
  background: white;
  border: none;
  text-align: center;
  height: 33px;
  width: 33px;
  line-height: 36px;
  color: black; }
  .ui-datepicker-calendar .ui-state-default:hover {
    border-radius: 50%;
    background-color: gray;
    color: white; }
.ui-datepicker-calendar .ui-state-highlight {
  color: black; }
.ui-datepicker-calendar .ui-state-active {
  border-radius: 50%;
  background-color: #bfbfbf;
  color: white; }
.ui-datepicker-calendar thead th {
  color: #999999;
  font-weight: 200; }

.ui-datepicker-buttonpane {
  border: none; }
  .ui-datepicker-buttonpane .ui-state-default {
    background: white;
    border: none; }
  .ui-datepicker-buttonpane .ui-datepicker-close,
  .ui-datepicker-buttonpane .ui-datepicker-current {
    background: white;
    color: black;
    text-transform: uppercase;
    border: none;
    opacity: 1;
    font-weight: 200;
    outline: none; }
    .ui-datepicker-buttonpane .ui-datepicker-close:hover,
    .ui-datepicker-buttonpane .ui-datepicker-current:hover {
      background: gray; }

/*# sourceMappingURL=index.css.map */
