@import url('http://fonts.googleapis.com/css?family=Lato');

.backgroundBody .backgroundOverlay {
  opacity: 0;
}

.backgroundOverlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: black;
  opacity: 1;
  transition: opacity 5s linear;
}

body {
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-position: center;

  .container {
    width: 95%;
    min-height: 85vh;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;

    button {
      border: 2px solid white;
      color: white;
      background: transparent;
      padding: 5px 10px;
      border-radius: 10px;
      font-size: 20px;
      display: block;
      margin: auto;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-size: 20px;
      margin: 0;
      text-align: center;
      padding: 10px 10px;

      span {
        color: white;

        .in, .stock, .date {
          text-align: center;
          border: none;
          border-bottom: 1px solid white;
          color: white;
          background: none;
          padding: 5px;
        }

        .ifOnly {
          min-width: 50px !important;
        }

        input {
          &.in {
            max-width: 33%;
          }

          &.date {
            max-width: 75%;
          }
        }

        select {
          &.stock {
            -webkit-appearance: none;
            width: 95%;
          }
        }
      }
    }

    .dataTable {
      // display: none;
      // color: white;
      // font-size: 2em;
      // margin-top: 50px;
      .row {
        // display: table-row;
        .cell {
          // display: table-cell;
          // border: 1px solid white;
          // padding: 10px 10px;

          &.header {
            // text-align: left;
          }

          &.data {
            // min-width: 150px;
          }
        }
      }
    }
  }

  .secondary {
    // display: none;
    // color: white;
    // margin-top: 50px;

    .ifOnlyDate {
      // white-space: nowrap;
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    .container {
      width: 90%;
      min-height: 90vh;

      button {
        border: 4px solid white;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 35px;
      }

      p {
        font-size: 35px;
        padding: 20px 20px;
  
        span {
          .easy-autocomplete {
            display: inline;

            input {
              max-width: 85% !important;
              min-width: 175px;
            }
          }

          .in, .stock, .date {
            padding: 10px;
          }
  
          input {
            &.in {
              min-width: 150px !important;
              max-width: 40%;
            }  
          }  
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  body {
    .container {
      button {
        font-size: 45px;
      }

      p {
        font-size: 45px;
        margin: 25px;
  
        span {
          input {
            max-width: 85% !important;
            
            &.in {
              min-width: 150px !important;
            }
  
            &.stock {
              min-width: 210px !important;
            }
  
            &.date {
              min-width: 325px !important;
            }
          }  
        }
      }
    }
  }
}

// desktopDatePicker
$main-color: black;
$width: 339px;

.ui-datepicker {
  background: white;
  padding: 0;
  border: none;
  width: $width !important;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-widget-header {
  border: 0;
}

.ui-datepicker-header {
  text-align: center;
  background: white;
  padding-bottom: 15px;
  font-weight: 300;

  .ui-datepicker-prev,
  .ui-datepicker-next,
  .ui-datepicker-title {
    border: none;
    outline: none;
    margin: 5px;
  }
}

.ui-datepicker-prev {
  background-image: url('../img/back.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.ui-datepicker-next {
  background-image: url('../img/forward.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover {
  border: none;
  outline: none;
}

.ui-datepicker-calendar {
  .ui-state-default {
    background: white;
    border: none;
    text-align: center;
    height: 33px;
    width: 33px;
    line-height: 36px;
    color: black;

    &:hover {
      border-radius: 50%;
      background-color: lighten($main-color, 50%);
      color: white;
    }
  }

  .ui-state-highlight {
    color: $main-color;
  }

  .ui-state-active {
    border-radius: 50%;
    background-color: lighten($main-color, 75%);
    color: white;
  }

  thead th {
    color: #999999;
    font-weight: 200;
  }
}

.ui-datepicker-buttonpane {
  border: none;

  .ui-state-default {
    background: white;
    border: none;
  }

  .ui-datepicker-close,
  .ui-datepicker-current {
    background: white;
    color: $main-color;
    text-transform: uppercase;
    border: none;
    opacity: 1;
    font-weight:200;
    outline: none;

    &:hover {
      background: lighten($main-color, 50%);
    }
  }
}
