@import url('http://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-position: center;

  .container {
    width: 85%;
    height: 85vh;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    p {
      margin-top: 50px;
      text-align: center;

      span {
        color: white;
        font-size: 3em;

        input {
          border: none;
          border-bottom: 2px solid white;
          color: white;
          background: none;
          padding: 10px;
        }

        .in {
          width: 150px;
        }

        .stock {
          width: 300px;
        }

        .date {
          width: 325px;
        }
      }
    }
  }
}

.backgroundBody .backgroundOverlay {
  opacity: 0;
}

.backgroundOverlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: black;
  opacity: 1;
  transition: opacity 5s linear;
}
